* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #D1E1F5;
}

.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #0A2C59; 
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
}

.logos{
    display: flex;
    align-items: center;   
    gap: 10px;               
}

.title-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
    line-height: 1.2; 
}

.admin{
    font-size: small;
    color: #FED600;
}

.logo{
    width: 20vw;
    max-width: 100px;
    height: auto;
    margin-top: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px 0;
    transition: background 0.3s;
}

.menu{
    margin-top: 20px;
}

.dashh{
    background-color: #07B0F2;
    border-radius: 5px;
}

.dash{
    margin-left: 10px;
}

.educ{
    margin-left: 5px;
    font-size: 15.2px;
}

.dashs{
    margin-left: 3px;
}

.dashb{
    margin-left: 10px;
}

.Kk{
    margin-left: 5px;
}

.kk{
    margin-left: 13px;
}

.log{
    margin-top: 90%;
}

.content{
    margin-left: 250px;
    padding: 10px;
}

.parent {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.title{
    padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 10px;
}

.filter-row {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 350px; 
}

.cycle {
  font-size: 20px;
}

.filter-rows {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 349px;
}
.cycle-select {
  padding: 3px;
  width: 80px;
  font-size: 14px;
  border: solid rgba(0, 0, 0, 0.418) 0.5px;
  border-radius: 3px;
}

.year{
  font-size: 20px;
}

h1, h2 {
  margin: 0;
}

.filt{
  padding: 3px;
  width: 70px;
}

.search-input {
    border: none;
    outline: solid rgba(0, 0, 0, 0.418) 0.5px;
    background-color: rgba(236, 234, 234, 0.548);
    padding: 8px;
    font-size: 16px;
    border-radius: 3px;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 102vh;
    width: 350px;
}

  .tables {
    margin-top: 1%;
    max-width: 90%;
    margin-left: 5%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.1);
    padding: 20px;
  }

    table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  th {
    width: 25%;
  }

  thead tr {
    background-color: #f4f6f8;
    color: rgb(0, 0, 0);
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 0.1);
  }

  thead th {
    padding: 12px 15px;
    font-weight: 600;
    justify-content: space-evenly;
  }

  tbody tr {
    background-color: #f4f6f8;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
    transition: background-color 0.3s ease;
    border-radius: 8px;
  }

  tbody tr:hover {
    background-color: #e1e8ff;
  }

  tbody td {
    padding: 12px 15px;
    vertical-align: middle;
  }